.toDo-content .one-row label {
  font-weight: normal;
}
.toDo-content .one-row label.right {
  margin-left: 10vw;
}
.toDo-content .one-row .star {
  font-size: 22px;
}
.toDo-content .one-row .inputW {
  width: 48vw;
}
.toDo-content .one-row .left {
  display: inline-block;
  width: 30vw;
  text-align: right;
  padding-right: 2vw;
}
.toDo-content .name input {
  width: 15vw;
}
.toDo-content .gender {
  margin-bottom: 3px;
}
.toDo-content .gender .radio-inline:last-child {
  margin-left: 5vw;
}
.toDo-content .age {
  margin-bottom: 5px;
}
.toDo-content .age select {
  width: 15vw;
}
.toDo-content .address {
  margin-top: 8px;
}
.toDo-content .address .left {
  padding-right: 10px;
  float: left;
}
.toDo-content .address textarea {
  float: left;
  margin-left: 1vw;
  height: 15vh;
  margin-top: 5px;
}
.toDo-content .notice {
  padding-left: 27vw;
}
.toDo-content .notice > span {
  display: block;
}
.toDo-content .notice > span .star {
  float: left;
}
.toDo-content .notice > span:first-child {
  margin-top: 3vh;
  margin-bottom: 1vh;
}
