@border:1px solid #333;
.register-content{
  width: 100vw;
  height: 100vh;
  font-family: '微软雅黑';
  .choice-content{
    margin-top: 20vh;
    >span{
      display: block;
      padding: 10px 20px;
      border: @border;
      width: 30vw;
      margin: 0 auto;
      text-align: center;
    }
    >span:first-child{
      margin-bottom: 7vh;
    }
  }
  .footer{
    width: 100%;
    text-align: center;
    border: @border;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
  }
}