.register-content {
  padding-top: 20vh;
}
.register-content .choice-content > span {
  display: block;
  padding: 0.4rem 0.5rem;
  border: 1px solid #333;
  width: 30vw;
  margin: 0 auto;
  text-align: center;
}
.register-content .choice-content > span:first-child {
  margin-bottom: 7vh;
}
